<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
  <form action='/submit_model' >
      <label for="model">Choose a model:</label>
      <select name="model" id="model">
          {% for model in models %}
        <option value="{{model}}">{{model}}</option>
        {% endfor %}
      </select>
      <br><br>
    <input type="submit" value="Submit">
    <center>
        <h2>{{ model_name }}</h2>


        <h3>MAPE value for CO</h3>
        <table style="width:100%">
          <tr>
              {% for day in days %}
                <td>{{day}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for mape in mape_values_co %}
                <td>{{mape}}</td>
            {% endfor %}
          </tr>
        </table>
        <h4> Avg 7 day MAPE CO : {{ avg_mape_co }}</h4>
      <canvas id="co_chart" width="600" height="400"></canvas>
         <script>
  var temp_chart = new Chart(document.getElementById("co_chart").getContext("2d"), {
    type: 'line',
    data: {
      labels: {{labels | tojson }},
      datasets: [{
          data: {{ actual_co | tojson }},
          label: "Actual Value",
          borderColor: "#ff0000",
          fill: false
        }, {
          data: {{ predicted_co | tojson }},
          label: "Predicted Value",
          borderColor: "#0000ff",
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Carbon Monoxide concentration values for the next 7 days'
      },
      hover: {
      mode: 'index',
      intersect: true
      },
      responsive: true
    }
  });
      </script>

        <h3>MAPE value for Temperature</h3>
        <table style="width:100%">
          <tr>
              {% for day in days %}
                <td>{{day}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for mape in mape_values_temp %}
                <td>{{mape}}</td>
            {% endfor %}
          </tr>
        </table>
        <h4> Avg 7 day MAPE Temperature : {{ avg_mape_temp }}</h4>
      <canvas id="temp_chart" width="600" height="400"></canvas>
        <script>
  var temp_chart = new Chart(document.getElementById("temp_chart").getContext("2d"), {
    type: 'line',
    data: {
      labels: {{labels | tojson }},
      datasets: [{
          data: {{ actual_temp | tojson }},
          label: "Actual Value",
          borderColor: "#ff0000",
          fill: false
        }, {
          data: {{ predicted_temp | tojson }},
          label: "Predicted Value",
          borderColor: "#0000ff",
          fill: false
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Temperature values for the next 7 days'
      },
      hover: {
      mode: 'index',
      intersect: true
      }
    }
  });
      </script>

    </center>
  </form>
</body>
</html>